<html>
<head>
    <title>Toyota </title>
</head>
<body>

    <table class="table table-light table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Ccылки
                </th>
                <th>
                    Примечания
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>
                    <a href="/vehicle/vin?vin=JTEGG22b305020049">/vehicle/vin?vin=JTEGG22b305020049</a>

                </td>
                <td>    Получение списка автомобилей по VIN  </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <a href="/image?image_id=TOYOTA/EU/grimages/47A909C.png">/image?image_id=TOYOTA/EU/grimages/47A909C.png</a>
                </td>
                <td>
                    Получение картинки
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>
                    <a href="/models?brand_id=TOYOTA">/models?brand_id=TOYOTA</a>
                </td>
                <td>
                    Список моделей
                </td>
            </tr>

            <tr>
                <td>4</td>
                <td>         
                    <a href="/vehicle/EU_511220_012_199/mgroups?code_lang=EN">/vehicle/EU_511220_012_199/mgroups?code_lang=EN</a>
                </td>
                <td>
                    Получение груп запчастей по авто
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <a href="/vehicle/EU_511220_012_199/sgroups/EU_11C510_4707?lang=EN&brand_id=TOYOTA">/vehicle/EU_511220_012_199/sgroups/EU_11C510_4707?lang=EN&brand_id=TOYOTA</a>
                </td>
                <td>
                    Список деталей в группе
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    <a href="/vehicle/EU_511220_012_199W/sgroups?group_id=1&code_lang=EN">/vehicle/EU_511220_012_199W/sgroups?group_id=1&code_lang=EN</a>
                </td>
                <td>
                    Получение подгруп запчастей по авто  <br />
                </td>
            </tr>

            <tr>
                <td>7</td>
                <td>
                    <a href="/ﬁlters?model_id=model_354&brand_id=TOYOTA">
                        /ﬁlters?model_id=model_354&brand_id=TOYOTA
                    </a>
                </td>
                <td>
                    Список фильтров
                </td>
            </tr>

            <tr>
                <td>8</td>
                <td>
                    <a href="/ﬁlter-cars?model_id=model_354&brand_id=TOYOTA&params=catalog_EU&params=f1_LHD&params=add_codes_ALA49,ASA4%23,AVA4%23,ZSA4%23&page=1&page_size=10">
                        /ﬁlter-cars?model_id=model_354&brand_id=TOYOTA&params=catalog_EU&params=f1_LHD&params=add_codes_ALA49,ASA4%23,AVA4%23,ZSA4%23&page=1&page_size=10
                    </a>
                </td>
                <td>
                    Список авто, которые соответствуют выбранным фильтрам
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    <a href="/locales">/locales</a>
                </td>
                <td>
                    Список языков БД
                </td>
            </tr>

            <tr>
                <td>10</td>
                <td>
                    <a href="/vehicle/wmi">/vehicle/wmi</a>
                </td>
                <td>
                    Список wmi тойты
                </td>
            </tr>

            <tr>
                <td>11</td>
                <td>
                    <a href="/vehicle/EU_511220_001_275W">
                        /vehicle/EU_511220_001_275W
                    </a>
                </td>
                <td>
                    Получение информации по авто
                </td>
            </tr>

            <tr>
                <td>12</td>
                <td>
                    <a href="/vehicle/EU_511220_001_275W/sgroups?codes=1101&codes=1301&codes=1501&codes=1601&node_ids=1102&node_ids=1701">/vehicle/EU_511220_001_275W/sgroups?codes=1101&codes=1301&codes=1501&codes=1601&node_ids=1102&node_ids=1701</a>
                </td>
                <td>
                    Получение узлов, POST! <br />
                </td>
            </tr>

        </tbody>
    </table>

</body>
</html>

