<html>
<head>
    <title>Toyota </title>
</head>
<body>

    <table class="table table-light table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Ccылки
                </th>
                <th>
                    Примечания
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>
                    <a href="/vehicle/vin?vin8=JTEGG22b305020049">/vehicle/vin?vin8=JTEGG22b305020049</a>

                </td>
                <td>    Получение списка автомобилей по VIN  </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <a href="/image?image_id=Toyota.jpg">/image?image_id=Toyota.jpg</a>
                </td>
                <td>
                    Получение картинки
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>
                    <a href="/models">/models</a>
                </td>
                <td>
                    Список моделей
                </td>
            </tr>

            <tr>
                <td>4</td>
                <td>
                    <a href="/mgroups?vehicle_id=EU_511220_012_199W&code_lang=EN">/mgroups?vehicle_id=EU_511220_012_199W&code_lang=EN</a>
                </td>
                <td>
                    Получение груп запчастей по авто
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <a href="/vehicle?group_id=EU_11C510_4707&code_lang=EN">/vehicle?group_id=EU_11C510_4707&code_lang=EN</a>
                </td>
                <td>
                    Список деталей в группе
                </td>
            </tr>
            <tr>
                <td>6</td>
                <td>
                    <a href="/vehicle/sgroups?catalog=EU&catalog_code=11C510">/vehicle/sgroups?catalog=EU&catalog_code=11C510</a>
                </td>
                <td>
                    Получение подгруп запчастей по авто  <br />
                </td>
            </tr>

            <tr>
                <td>7</td>
                <td>
                    <a href="/ﬁlters?vin8=JTEGG22b305020049">/ﬁlters?vin8=JTEGG22b305020049</a>
                </td>
                <td>
                    Список фильтров
                </td>
            </tr>

            <tr>
                <td>8</td>
                <td>
                    <a href="/ﬁlter-cars?vin8=JTEGG22b305020049&param=PICNIC/AVENSIS VERSO&param=CLM20R-ANMDYW&param=1CDFTV&param=&param=&param=&param=CLM20&param=199W&param=RHD&param=06S&param=EUR&page=1&page_size=10">
                        /ﬁlter-cars?vin8=JTEGG22b305020049&param=PICNIC/AVENSIS VERSO&param=CLM20R-ANMDYW&param=1CDFTV&param=&param=&param=&param=CLM20&param=199W&param=RHD&param=06S&param=EUR&page=1&page_size=10
                    </a>
                </td>
                <td>
                    Список авто, которые соответствуют выбранным фильтрам
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    <a href="/locales">/locales</a>
                </td>
                <td>
                    Список языков БД
                </td>
            </tr>

            <tr>
                <td>10</td>
                <td>
                    <a href="/vehicle/wmi">/vehicle/wmi</a>
                </td>
                <td>
                    Список wmi тойты
                </td>
            </tr>

            <tr>
                <td>11</td>
                <td>
                    <a href="/vehicleAttr?vehicle_id=EU_511220_001_275W">
                        /vehicleAttr?vehicle_id=EU_511220_001_275W
                    </a>
                </td>
                <td>
                    Получение информации по авто
                </td>
            </tr>

        </tbody>
    </table>

</body>
</html>

