<html>
<head>
    <title>Toyota </title>
</head>
<body>

    <table class="table table-light table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    №
                </th>
                <th>
                    Ccылки
                </th>
                <th>
                    Примечания
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>
                    <a href="/vehicle/vin?vin=JTEGG22b305020049&page=1&per-page=5">/vehicle/vin?vin=JTEGG22b305020049&page=1&per-page=5</a>

                </td>
                <td>    Получение списка автомобилей по VIN  </td>
            </tr>

            <tr>
                <td>2</td>
                <td>
                    <a href="/image/EU_A1_090130.png">/image/EU_A1_090130-png</a>
                </td>
                <td>
                    Получение картинки
                </td>
            </tr>

            <tr>
                <td>3</td>
                <td>
                    <a href="/models?brand_id=TOYOTA">/models?brand_id=TOYOTA</a>
                </td>
                <td>
                    Список моделей
                </td>
            </tr>

            <tr>
                <td>4</td>
                <td>
                    <a href="/vehicle/EU_662220_019_265W/mgroups?code_lang=EN">/vehicle/EU_662220_019_265W/mgroups?code_lang=EN</a>
                </td>
                <td>
                    Получение груп запчастей по авто
                </td>
            </tr>

            <tr>
                <td>5</td>
                <td>
                    <a href="/vehicle/EU_662220_017_179W/sgroups/EU_662220_1107_111717C_12371A?brand_url=toyota&vehicle_id=EU_662220_017_179W&node_id=EU_662220_1107_111717C_12371A&brand_id=toyota'">
                             /vehicle/EU_662220_017_179W/sgroups/EU_662220_1107_111717C_12371A?brand_url=toyota&vehicle_id=EU_662220_017_179W&node_id=EU_662220_1107_111717C_12371A&brand_id=toyota'
                    </a>
                </td>
                <td>
                    Список деталей в группе
                </td>
            </tr>


            <tr>
                <td>6.1</td>
                <td>
                    <a href="/vehicle/EU_102510_007_432W/sgroups?&group_id=EU_102510_1107">
                             /vehicle/EU_102510_007_432W/sgroups?&group_id=EU_102510_1107
                    </a>
                </td>
                <td>
                    Получение подгруп запчастей по авто   POST!<br />
                </td>
            </tr>
            <tr>
                <td>6.2</td>
                <td>
                    <a href="/vehicle/EU_511220_001_275W/sgroups?codes=1101&codes=1301&codes=1501&codes=1601&node_ids=1102&node_ids=1701">
                    /vehicle/EU_511220_001_275W/sgroups?codes=1101&codes=1301&codes=1501&codes=1601&node_ids=1102&node_ids=1701</a>
                </td>
                <td>
                    Получение узлов, POST! <br />
                </td>
            </tr>

            <tr>
                <td>7</td>
                <td>
                    <a href="/filters?model_id=model_354&brand_id=TOYOTA&params%5B%5D=catalog_EU&params%5B%5D=f1_LHD">
                             /filters?model_id=model_354&brand_id=TOYOTA&amp;params%5B%5D=catalog_EU&amp;params%5B%5D=f1_LHD  
                    </a>
                </td>
                <td>
                    Список фильтров
                </td>
            </tr>

            <tr>
                <td>8</td>
                <td>
                    <a href="/filter-cars?model_id=model_354&brand_id=TOYOTA&params%5B%5D=catalog_EU&params%5B%5D=f1_LHD&page=1&page_size=10">
                             /filter-cars?model_id=model_354&brand_id=TOYOTA&amp;params%5B%5D=catalog_EU&amp;params%5B%5D=f1_LHD&page=1&page_size=10
                    </a>
                </td>
                <td>
                    Список авто, которые соответствуют выбранным фильтрам
                </td>
            </tr>
            <tr>
                <td>9</td>
                <td>
                    <a href="/locales">/locales</a>
                </td>
                <td>
                    Список языков БД
                </td>
            </tr>

            <tr>
                <td>10</td>
                <td>
                    <a href="/vehicle/wmi">/vehicle/wmi</a>
                </td>
                <td>
                    Список wmi тойты
                </td>
            </tr>

            <tr>
                <td>11</td>
                <td>
                    <a href="/vehicle/EU_511220_001_275W">
                        /vehicle/EU_511220_001_275W
                    </a>
                </td>
                <td>
                    Получение информации по авто
                </td>
            </tr>



        </tbody>
    </table>

</body>
</html>

